@charset "UTF-8";
body {
   background-color:  rgb(38, 22, 56);
   margin: 0;
   padding: 0;
   color: aliceblue;

}

Section#Cabecalho{
   /* Altura vísivel do navegador */
min-height:  100vh;
width: 100%;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;

font-family: 'Patua One', cursive;
font-size: 45px;
background-image: url("../Imagens/Cabeçalho.jpg");

}

.Estrutura{

   border: 0px solid; 
  padding: 20px 50px 20px 50px; 
   width: 70%;
    content: auto;
   margin: 20px 150px;
background-color: rgb(78, 47, 110);
}
h1.Estrutura{
   text-align: center;
}
#menuEst{

  

}