@charset "UTF-8";
body {
   background-color:  rgb(38, 22, 56);
   margin: 0;
   padding: 0;
   color: aliceblue;

}

Section#Cabecalho{
   /* Altura vísivel do navegador */
min-height:  100vh;
width: 100%;
background-size: cover;

display: flex;
justify-content: center;
align-items: center;

font-family: 'Patua One', cursive;
font-size: 45px;
background-image: url("../Imagens/Cabeçalho.jpg");

}

#Introdução{
text-align: justify;
   border: 0px solid; 
  padding: 20px 350px 20px 200px;
   width: 600px;
   content: auto;
   margin: 20px 700px 50px 200px;
background-color: rgb(78, 47, 110);
}